/node_modules
/.idea
/public/uploads
/public/apps
/public/storage
/public/newsitemap
/public/video_social
/public/js/trans
/public/sitemap*
/public/config-old.php
/public/json
/public/Sura2
/public/media_2011_03.php
/public/newMedia.php
/public/pages
/public/podcast
/public/quranRead.php
/public/sabda_rasul
public/betamp3.zip
/storage/app/video_progress
/storage/framework
/storage/logs/*
/storage/*.key
/storage/*.index

/vendor
/public/api/
/public/api1.tar
/.cache
/.config
/.local
/.ssh
.env
.bash_history
.bash_logout
.bash_profile
.bashrc
.editorconfig
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.mysql_history
.styleci.yml
public.zip
betamp3_db.sql
HW need PJ.xlsx