.ltr {
  .top-bar .tb-logo {
    margin-right: 1rem;
    margin-left: 0;
  }
  .top-bar .tb-search {
    margin-right: 1rem;
    margin-left: initial;
  }
  .top-bar .tb-search .btn-search {
    right: 1rem;
    left: auto;
    top: 5px;
  }
  .top-bar .tb-radio .btn {
    margin-right: 0.5rem;
    margin-left: 0;
  }
  .top-bar .tb-radio .btn .uni-icon {
    margin-left: 0;
    margin-right: 6px;
  }
  .top-bar .tb-social {
    margin-right: initial;
    margin-left: auto;
  }
  .top-bar .tb-social ul li {
    margin: 0 0.5rem 0 0;
  }
  .header-newsletters .form-control {
    border-radius: 10px 0 0 10px;
  }
  .tb-languages .tbl-btn .uni-icon {
    margin-right: 0.5rem;
    margin-left: 0;
  }
  .header-newsletters .btn-subscribe {
    margin-left: -2.5rem;
    margin-right: 0;
    padding-left: 3rem;
    padding-right: 0.5rem;
  }
  .home-show .home-reads.letters .side-letters {
    margin-left: 0.5rem;
    margin-right: 0;
  }
  .home-show .home-reads.letters .reads-list h3 {
    border-radius: 10px 10px 0 10px;
  }
  .mr-auto {
    margin-left: auto !important;
    margin-right: initial !important;
  }
  .ml-auto {
    margin-right: auto !important;
    margin-left: initial !important;
  }
  .main .show-filters .deslike-btn,
  .main .show-filters .like-btn {
    margin-left: auto;
    margin-right: initial;
  }
  .main .header-options .btn {
    padding: 0px 20px 0 6px;
    margin-right: 1rem;
    margin-left: 0;
  }
  .main .header-options .btn .uni-icon {
    margin-right: 8px;
    margin-left: 0;
  }
  .card-radio .more-btn,
  .sora-item .more-btn {
    right: 0.5rem;
    left: auto;
  }
  .sora-item .ply-btn {
    margin-right: 6px;
    margin-left: 0;
  }
  .card-radio .radio-options,
  .sora-item .sora-options {
    right: 2.5rem;
    left: auto;
  }
  .card-reciter {
    text-align: left;
  }
  .contact-show form {
    border-radius: 0 10px 10px 0;
    margin: -31px -31px -32px 0;
  }
  .sitemap-show .show-body h3 {
    padding-left: 30px;
  }
  .top-bar .tb-languages .tbl-dropdown.opened {
    right: 0;
    left: auto;
  }
  .mobile-ui .top-bar .tb-languages {
    margin-right: 0;
    margin-left: auto;
  }
  .main .show-filters .dropdown-toggle::after {
    margin: 0 -0.5rem 0 0.5rem;
  }
  .desktop-ui .desktop-sidebar .menu-link span {
    margin-right: 5px;
    margin-left: 0;
  }
  .desktop-ui .desktop-sidebar .menu-link:hover,
  .desktop-ui .desktop-sidebar .menu-link.active {
    border-left: 2px solid #14aae2;
    margin-left: -2px;
    border-right: 0;
    margin-right: 0;
  }
  .footer-social {
    margin-left: auto;
    margin-right: initial;
  }
  .audio-player .ply-playlist li {
    direction: ltr;
  }
  .audio-player .ply-playlist li .drag-handle.bg {
    margin-right: 2px;
    margin-left: 0;
  }
  .audio-player .ply-playlist li .playlist-avatar {
    margin-right: 0.5rem;
    margin-left: 0;
  }
  .audio-player .ply-playlist li .read-sora {
    text-align: left;
  }
  .audio-player .ply-playlist li .read-options {
    left: initial;
    right: 6px;
  }
  .audio-player .ply-playlist li .read-options .ply-btn {
    margin-left: 0.5rem;
    margin-right: 0;
  }
  .sora-show-item .ply-btn {
    // margin: 1rem auto;
  }
  .card-radio .ply-btn {
    margin-left: 0;
    margin-right: 6px;
  }
  .mushafs-show .mushafs-options .form-group,
  .alkahf-show .mushafs-options .form-group {
    margin-right: 0.5rem;
    margin-left: 0;
  }
  .mushafs-show .mushafs-options .btn,
  .alkahf-show .mushafs-options .btn {
    margin-left: 0.5rem;
    margin-right: 0;
  }
  .tadabor-item .databor-options .option-btn:first-child {
    border-left: none;
  }
  .tadabor-item .databor-options .show-share > span:last-child{
    border-left: 1px solid #e6e6e6;
  }
  .dropdown-menu{
    right: auto;
    left: auto !important;
    float: right;
  }
}
