#app {
  padding-left: 0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.top-bar {
  height: 40px;
  padding: 5px 0;
  box-shadow: 0px 2px 8px 2px #a2a2a230;
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  z-index: 999;
  transition: all 0.5s ease;
  display: flex;
  .tb-logo {
    height: 40px;
    margin-left: 1rem;
    display: flex;
    align-items: center;

    img {
      height: 32px;
    }
  }
  .tb-page-title {
    font-size: 15px;
    text-align: center;
    width: 70%;
    line-height: 1;
    padding: 5px 0;
    overflow: hidden;
    h1 {
      font-size: 15px;
    }
  }
  .tb-search {
    display: flex;
    align-items: center;
    height: 40px;
    margin-left: 1rem;
    .search-form {
      display: flex;
      position: relative;
    }
    .form-control {
      height: 28px;
      border-radius: 20px;
    }
    .btn-search {
      border: none;
      padding: 0;
      position: absolute;
      left: 6px;
      top: 6px;
      .uni-icon {
        font-size: 18px;
      }
    }
  }
  .tb-radio {
    margin: 0;
    display: flex;
    align-items: center;
    height: 40px;

    .btn {
      background-color: #fb4a59;
      border: none;
      padding: 4px 8px;
      line-height: 1;
      display: flex;
      border-radius: 4px;
      margin-left: 0.5rem;
      box-shadow: 0px 2px 8px 0px #e44c5978;
      justify-content: center;
      align-items: center;
      .uni-icon {
        margin-left: 6px;
        height: 20px;
        width: 20px;
      }
    }
  }
  .tb-back-button {
    width: 50px;
    font-size: 18px;
    text-align: left;
    padding: 0 8px;
  }
  .tb-social {
    margin-right: auto;
    ul {
      margin: 0;
      display: flex;
      align-items: center;
      height: 40px;
      li {
        margin: 0 0 0 0.5rem;
        a {
          cursor: pointer;
        }
      }
    }
  }
}
.tb-languages {
  position: relative;
  .tbl-btn {
    padding: 0.5rem;
    margin-right: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    .uni-icon {
      margin-left: 0.5rem;
    }
  }
  .close-lan {
    position: absolute;
    top: -8px;
    width: 24px;
    height: 24px;
    background: #fff;
    border-radius: 16px;
    right: -8px;
    cursor: pointer;
  }
  .tbl-dropdown {
    background: #30363a;
    width: 450px;
    height: 0;
    position: absolute;
    box-shadow: 0px 2px 8px 2px #a2a2a230;
    top: 50px;
    z-index: 999;
    left: 0;
    border-radius: 8px;
    padding: 1rem;
    opacity: 0;
    display: none;
    transition: all 0.2s ease;
    max-width: calc(100vw - 16px);
    .tbl-item {
      text-align: center;
      padding: 0.5rem;
      display: block;
      text-transform: capitalize;
      color: #fff;
    }
  }
  .tbl-dropdown.opened {
    height: auto;
    opacity: 1;
    display: block;
  }
}
.header-user {
  font-size: 13px;
  width: 200px;
  display: flex;
  .btn-profile-menu,
  .btn-login,
  .btn-register {
    height: 32px;
    color: #31aae2;
    border-radius: 6px;
    margin: 0.25rem 1%;
    width: 150%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #f5f6f6;
  }
  .icon-account_circle{
    color: #929fa4;
    margin-left: .5rem;
  }
  .btn-register {
    width: 100%;
  }
  .btn-profile-menu:hover,
  .btn-register:hover,
  .btn-login:hover {
    border-color: #f5b44a;
    background: #f9f6f1;
  }
  .dropdown-toggle::after {
    display: none;
  }
  .dropdown-menu {
    box-shadow: 0px 2px 8px 0px #a2a2a230;
    margin-top: 0.5rem;
    border: none;

    .dropdown-item {
      padding: 0.25rem 0.5rem;
      display: flex;
      align-items: center;
      span {
        font-size: 20px;
        margin-left: 0.5rem;
      }
    }
    .dropdown-item.active,
    .dropdown-item:hover {
      border-right: 2px solid #31aae2;
      margin-right: -2px;
      width: calc( 100% + 2px);
      background: #f2f3f4;
      color: #1d1f21;
    }
  }
}
.header-user.dropdown {
  width: 140px;
}
footer {
  padding: 1rem 0 4rem;
  background: $white;
  box-shadow: 0 -10px 10px #ccd4d829;

  .helpful-links {
    margin: 0;

    li {
      margin: 0 0.25rem !important;
    }

    a:hover {
      color: #8e317e;
    }
  }
  .footer-apps {
    padding-right: 5rem;
    .foo_app_btn {
      display: inline-block;
    }
  }
  .footer-apps p,
  .footer-about {
    font-size: 14px;
    line-height: 1.8;
    color: #686b6d;
  }
  h3 {
    font-size: 20px;
    color: #677d86;
    margin-bottom: 1rem;
  }

  .social-links {
    padding: 10px 0;
    margin: 0;

    .list-inline-item:not(:last-child) {
      margin-left: 0.5rem;
      margin-right: auto;
    }
  }
}

.header-newsletters {
  .dropdown-toggle{
    background: none;
    border: none;
    height: 40px;
  }
  .dropdown-toggle::after{
    display: none;
  }
  .dropdown-toggle{
    background: none;
    border: none;
    height: 40px;
  }
  .dropdown-menu{
    background: #ffffff;
    margin-top: -5px;
    margin-bottom: -34px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 3px 10px 0px #a2a2a27a;
    min-width: 260px;
    border-radius: 10px;
    border: none;
    margin-top: 0.75rem;
  }
  

  .newsletter {
    flex-direction: column;
    align-items: revert;
    display: flex;
    justify-content: center;
  }
  h5 {
    color: #31aae2;
    text-align: revert;
    padding: 0.5rem;
    font-size: 0.9rem;
    font-weight: 500;
  }
  .newsletter-form {
    display: flex;
    padding: 0 0.5rem 0.5rem;
  }
  .form-control {
    border: none;
    background: #f5f6f6;
    margin: 0;
    z-index: 999;
    margin-right: 0 !important;
    border-radius: 0 10px 10px 0;
  }
  .form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 0.75rem;
  }
  .form-control::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 0.75rem;
  }
  .form-control:-ms-input-placeholder {
    /* IE 10+ */
    font-size: 0.75rem;
  }
  .form-control:-moz-placeholder {
    /* Firefox 18- */
    font-size: 0.75rem;
  }
  .btn-subscribe {
    background: #31aae2;
    color: #fff;
    padding-right: 3rem;
    border: none;
    z-index: 99;
    margin-right: -2.5rem;
    border-radius: 10px;
  }
  .alert {
    margin-bottom: 0;
    margin-right: 0.5rem;
    padding: 0.25rem 1rem;
    border-radius: 10px;
    /* box-shadow: 0 2px 8px 0 #d7f3e3; */
    border: 0;
    background: #64ad15;
    color: #fff;
    margin-left: 0.5rem;
    margin-top: 8px;
  }
}
.card-page.header-newsletters {
  justify-content: center;
  min-height: 220px !important;
  align-items: center;
  h5 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem !important;
  }
  .form-control {
    border-radius: 2rem;
    background: #ebedee;
    z-index: 9;
  }
  .dropdown-menu{
    position: relative !important;
    transform: none !important;
    box-shadow: none !important;
    display: block;
    margin: 0;
    
  }
  .dropdown-toggle{
    display: none;
  }
}

.footer-newsletters {
  .newsletter {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .newsletter-form {
    display: flex;
  }
  .form-control {
    border-radius: 2rem;
    background: #f8f8f8;
  }
  .btn-subscribe {
    background: #31aae2;
    color: #fff;
    border: none;
    margin-right: 0.5rem;
    border-radius: 2rem;
    box-shadow: 0px 2px 8px 0px #4cc1e478;
  }
  .alert-success {
    margin-bottom: 0;
    margin-right: 1rem;
    padding: 0.25rem 1rem;
    border-radius: 1.5rem;
    box-shadow: 0px 2px 8px 0px #d7f3e3;
    border: 0;
    background: #64ad15;
    color: #fff;
  }
}
.footer-social {
  margin-right: auto;
  ul {
    margin: 0;
  }
}
.ltr{
  .header-user .dropdown-menu .dropdown-item span{
    margin-right: 0.5rem;
    margin-left: 0;
  }
  .header-user .dropdown-menu .dropdown-item.active, .header-user .dropdown-menu .dropdown-item:hover{
    border-left: 2px solid #31aae2;
    margin-left: -2px;
    border-right: none;
    margin-right: 0;

  }
}