@media only screen and (max-width: 1999.98px) {
  .popupOverlay {
    width: 100%;
    background: rgba(0, 0, 0, 0.75);
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;

    .popupBox {
      position: fixed;
      width: 80%;
      height: 86%;
      left: 50%;
      top: 50%;
      padding: 0;
      transform: translateY(-50%) translateX(-50%);
      // background: #fff;
      text-align: center;
      border-radius: 5px;
      background-size: 94%;
      background-repeat: no-repeat;
      background-position-y: center;
    }
    .popupBox img {
      max-width: 100%;
    }
    .popupBox .close {
      position: absolute;
      top: -18px;
      right: -18px;
      display: block;
      background: #ffffff;
      opacity: 1;
      color: #14abe2;
      border-radius: 99px;
      padding: 18px 12px;
      line-height: 0px;
      font-family: arial;
      cursor: pointer;
    }
    .popupBox .caption {
      width: 100%;
      vertical-align: middle;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      align-items: center;
      display: flex;
      justify-content: center;
      flex-flow: column;
    }
    .popupBox .caption p {
      color: #14abe2;
      font-family: arial;
      font-size: 30px;
      text-align: center;
      font-kerning: normal;
      font-weight: bold;
    }
    .popupBox .caption button {
      background: #14abe2;
      border: 0px;
      padding: 4px 12px;
      font-size: 30px;
      color: #fff;
      font-weight: 900;
      border-radius: 12px;
    }
  }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1199.98px) {
  .top-bar .top-search .form-control {
    width: 180px;
  }
  .top-bar .tb-logo {
    margin-left: 0.5rem;
  }
  .top-bar .tb-search {
    margin-left: 0.5rem;
  }
  .top-bar .tb-radio {
    min-width: 300px;
  }
  .top-bar .tb-radio .btn {
    font-size: 13px;
    font-weight: 700 !important;
    min-width: 108px;
  }

  .header.small-header .header-manu .nav-link,
  .header.sticky-header .header-manu .nav-link {
    padding: 24px 6px 13px;
    font-size: 15px;
  }

  .header.sticky-header .top-buttons .btn {
    margin: 1px 0;
  }

  footer {
    font-size: 12px;
  }
  .widget.rewaya iframe {
    width: 224px;
    height: 126px;
  }
  .sidebar-area .ask-dr .card-body {
    font-size: 15px;
  }
  .home-contact .card-body iframe {
    width: 464px;
  }

  .home-top {
    background-position: -50% 0;
  }

  .home-contact .contact-info {
    padding: 0.75rem 0;
  }

  .home-top .home-dr-image img {
    width: 240px;
  }
  .reads-index .read,
  .reads-index .rewaya,
  .recommendations_listing .read,
  .recommendations_listing .rewaya {
    max-width: 224px;
  }
  .desktop-ui .desktop-sidebar {
    width: 185px !important;
  }
  .fliping-book .book {
    height: 540px;
  }
  .fliping-book .book .pages {
    width: 720px;
  }
  .fliping-book .book .pages,
  .fliping-book .book .page {
    height: 516px;
  }
  .video-show .card-video iframe {
    height: 400px;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 991.98px) {
  .top-bar .social-links .list-inline-item:not(:last-child) {
    margin-left: 0.25rem;
  }

  .top-buttons {
    padding: 5px;
  }

  .top-buttons .btn {
    margin: 0 0.25rem;
    padding: 10px 35px 10px 10px;
  }

  .header.full-header .btn-drawer,
  .header.small-header .btn-drawer {
    display: none;
  }

  .header.full-header .container {
    display: flex;
  }

  .header.full-header .btn-drawer span {
    background: $primary;
  }

  .header.full-header.sticky-header .btn-drawer span {
    background: $white;
  }

  .header.sticky-header .header-manu .nav-link {
    padding: 24px 4px 13px;
    font-size: 14px;
  }

  .header.sticky-header .top-buttons .add-question {
    display: none;
  }

  .header .btn-drawer {
    display: block;
    z-index: 999;
    padding: 18px 10px;
    margin-right: auto;
  }

  #app.toggled .btn-drawer {
    padding: 26px 10px;
  }

  footer,
  footer .copyright-text {
    font-size: 13px;
    text-align: center;
  }

  .home-reads .read-card .card-img-top {
    height: 180px;
  }

  .home-title {
    margin-bottom: 1rem;
    font-size: 20px;
  }

  .home-top .home-logo img {
    width: 300px;
  }

  .home-top {
    background-position: -125% 0;
  }

  .home-top .home-search h1 {
    font-size: 20px;
    margin-bottom: 2rem;
    line-height: 1.8;
  }

  .home-contact .card-body iframe {
    width: 704px;
  }

  .photos-page .nav-pills .nav-link {
    font-size: 13px;
    padding: 6px 14px;
    line-height: 1;
  }

  .photos-page .item-column {
    width: 50%;
    padding: 0.25rem;
  }
  .video-show .card-video iframe {
    height: 294px;
  }
  .mobile-ui .top-bar .tb-languages {
    margin-right: auto;
  }
  .popupBox {
    width: 80%;
    height: 50%;
    max-height: 500px;
  }
  .popupBox .left {
    position: relative;
    top: 24%;
    text-align: right;
  }
  .popupBox .right {
    padding-bottom: 20px;
    top: 24%;
  }
  .main .header-ads {
    margin-top: 0.5rem;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 767.98px) {
  .mobile-ui .main {
    margin-top: 0;
  }
  .quick-access .modal .modal-body .form-group {
    margin-bottom: 0.5rem;
  }
  .content-header {
    margin-bottom: 1.5rem;
  }
  .main-content {
    min-height: calc(100vh - 144px);
  }
  .top-bar {
    position: relative;

    .right-menu {
      text-align: center;
    }

    .top-contact {
      .phone {
        margin-left: auto;
      }

      .email {
        margin-right: auto;
      }
    }
  }

  .header .top-buttons {
    display: block;
    padding: 15px 0;
    width: 340px;
    margin-right: auto;

    img {
      width: 24px;
    }
  }

  .header.full-header .btn-drawer,
  .header.small-header .btn-drawer {
    display: block;
  }

  .header.full-header .top-buttons {
    margin-right: 0;
  }

  .header.sticky-header .top-buttons {
    padding: 18px 0;
    width: 340px;
  }

  .header .top-buttons .btn {
    font-size: 13px;
    padding: 8px 35px 8px 12px;
    margin: 0 0.25rem;
  }

  .header .top-buttons .add-question {
    display: none;
  }

  footer {
    .copyright-text,
    .helpful-links {
      text-align: center;
    }

    .copyright-text,
    .footer-text {
      margin-top: 10px;
    }
  }
  .main-content {
    min-height: calc(100vh - 144px);
  }
  .card-card.large {
    padding: 47px 0 0;
    position: relative;

    .col-md-17,
    .col-md-18 {
      position: initial;
    }

    .card-header {
      position: absolute;
      top: 0;
      width: 100%;
      padding: 6px;
    }

    .card-image {
      height: auto;
      border-radius: 0;

      .card-img {
        border-radius: 0;
      }
    }

    .card-body {
      padding: 12px 12px 32px !important;
    }

    .card-favorite,
    .card-share,
    ul {
      bottom: 6px !important;
    }
  }

  .card-single .card-image {
    height: auto;
  }
  .content-header h1 {
    margin: 0.5rem 0 0;
    font-size: 18px;
  }

  .home-top {
    background-position: -375px 0;
  }

  .home-page section h3 {
    font-size: 15px;
  }

  .home-top .home-dr-image img {
    display: none;
  }

  .home-contact .card-body iframe {
    width: 100%;
  }

  .home-radios .radio-card img {
    width: 260px;
  }

  .home-top .home-logo {
    margin-bottom: 1rem;
  }

  .home-top .home-search {
    margin-bottom: 2rem;
  }

  .home-radios .radio-card .radio-title {
    font-size: 15px;
  }

  .page {
    padding: 2rem 0;
    background-position: top left;
    background-size: 120% auto;
  }

  .page .main-content .card-body {
    padding: 1rem;
    font-size: 14px;
    line-height: 1.7;
  }

  .card-single .card-body {
    padding: 2rem 0;
  }

  .rewayat-show .card-single iframe {
    height: 276px;
  }

  .card-deck {
    .card {
      min-width: 100%;
      margin-bottom: 1rem;
    }
  }

  .photos-page .item-column {
    width: 100%;
    padding: 0.5rem;
  }

  .photos-page .nav-pills {
    height: 200px;
    overflow: scroll;
  }
  .photos-page .nav-pills .nav-item {
    width: 50%;
  }

  .search-page .main-content {
    margin-top: -54px;
  }

  .search-page .nav-pills .nav-link {
    padding: 8px;
    font-size: 13px;
  }
  .mobile-fliping-book .book {
    height: 740px;
  }
  .mobile-fliping-book .book .page {
    height: 716px;
  }

  .video-show .card-video iframe {
    height: 277px;
  }
  .sora-item .sora-options {
    opacity: 1;
    width: 0;
    overflow: hidden;
  }
  .sora-item:hover .more-btn {
    opacity: 1;
  }
  .sora-item.showoptions .sora-options {
    width: auto;
    overflow: initial;
  }
  .popupBox {
    height: auto;
    max-height: 500px;
  }
  .popupBox .left {
    width: 100%;
    top: 16%;
    text-align: center;
  }
  .popupBox .left img {
    width: 70%;
  }
  .popupBox .caption {
    display: block;
    width: 100%;
    position: relative;
    top: 2%;
    padding-bottom: 20px;
  }
  .ltr .mobile-ui .contact-show form {
    margin: -16px -16px -16px 0;
  }
  .mobile-ui .contact-show form {
    margin: -1rem 0rem -1rem -1rem;
  }
  .ltr .card-radio .radio-options,
  .ltr .sora-item .sora-options {
    right: auto !important;
    left: auto !important;
  }
  .ltr .audio-player .ply-playlist li .read-num {
    float: left;
  }
  .ltr .audio-player .ply-playlist li {
    text-align: left;
  }
  .dropdown-menu {
    max-height: 60vh;
    overflow: scroll;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 575.98px) {
  .content-header .breadcrumb {
    font-size: 14px;
  }
  .header.small-header .header-br,
  .header.sticky-header .header-br {
    background-size: 120% auto;
  }

  .mobile-header-logo {
    padding: 8px 0;

    img {
      height: 48px;
    }
  }

  .sticky-header {
    .mobile-header-logo {
      display: none;
    }
  }

  .top-bar .social-links {
    text-align: center !important;
  }

  .top-bar .top-contact {
    justify-content: center;
  }

  #app.toggled .top-bar .container {
    margin-left: 10px;
  }

  .header.small-header .header-logo,
  .header.sticky-header .header-logo {
    padding: 10px 0;
  }

  .header.small-header .header-logo img,
  .header.sticky-header .header-logo img {
    height: 44px;
  }

  .header .top-buttons,
  .header.sticky-header .top-buttons,
  .header.full-header .top-buttons {
    padding: 18px 0;
    width: calc(100% - 186px);
    position: absolute;
    left: 52px;
    min-width: 160px;
  }

  .header .top-buttons img {
    width: 25px;
    position: absolute;
    right: 2px;
    top: 2px;
  }

  .drawer-side-menu {
    left: 80%;
    margin-left: -80%;
  }

  #app.toggled {
    padding-left: 80%;

    .drawer-side-menu {
      width: 80%;
    }

    .drawer-content {
      margin-right: -80%;
    }

    .top-bar {
      margin-right: -80%;
    }
  }
  .card.login-card .card-body {
    padding: 1rem;
  }
  .card.login-card .social-buttons {
    padding: 15px 5px;
  }
  .home-top {
    background-position: top left;
    background-size: 120% auto;
    padding: 0 !important;
  }
  .home-dr-image-all {
    text-align: center;
    padding-top: 1rem;
    img {
      width: 180px;
    }
  }

  .home-top .home-logo img {
    display: none;
  }

  .home-top .home-search .btn {
    left: 22px;
  }

  .home-top .home-about {
    padding: 0 2rem;
  }
  .page .card-body {
    padding: 1rem;
  }

  .radios-index .list-card,
  .recommendations_listing .list-card.radio {
    padding: 1rem;
    text-align: center;

    img {
      max-width: 300px;
    }
  }

  .radio-img {
    max-width: 300px;
  }

  .radio-download {
    text-align: center;
  }

  .rewayat-show .card-single iframe {
    height: 220px;
  }

  .search-page .main-content {
    margin-top: 0;
  }

  .search-page .nav-pills .nav-link {
    padding: 4px 12px;
    font-size: 13px;
    border-radius: 20px;
  }

  .search-page .nav-pills {
    padding: 0;
    justify-content: center;
  }
  .mobile-fliping-book .book {
    height: 136vw;
  }
  .mobile-fliping-book .book .page {
    height: 125vw;
  }
  .video-show .card-video {
    padding: 0;
  }
  .video-show .card-video .card-videotitle {
    padding: 0 0.75rem 0.5rem;
  }
  .video-show .card-video iframe {
    height: 290px;
  }
  .campaign .sweet-content {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
  }
  .campaign .sweet-content .campaign-btn {
    width: 100%;
  }
  .campaign .sweet-content .campaign-col {
    padding: 0.5rem;
    margin: 1rem 0.25rem;
  }
}
@media only screen and (max-width: 499.98px) {
  .popupBox {
    width: 80%;
    height: 50%;
    max-height: 500px;
    padding: 20px;
  }
  .popupBox .left,
  .popupBox .caption {
    float: none;
    top: 5%;
  }
  .popupBox img {
    width: 100%;
  }
  .dropdown-menu {
    width: 390px;
  }
}

@media only screen and (max-width: 399.98px) {
  .header.small-header .header-logo,
  .header.sticky-header .header-logo,
  .mobile-header-logo {
    padding: 12px 0;
  }
  .header.small-header .header-logo img,
  .header.sticky-header .header-logo img,
  .mobile-header-logo img {
    height: 40px;
  }
  .photos-page .nav-pills {
    height: 200px;
    overflow: scroll;
  }
  .photos-page .nav-pills .nav-item {
    width: 100%;
  }
  .video-show .card-video iframe {
    height: 230px;
  }
  .dropdown-menu {
    width: 340px;
  }
  .main .show-filters .form-control {
    max-width: 150px;
    min-width: 150px;
  }
  .main .show-filters .dropdown-toggle {
    max-width: 150px;
    min-width: 150px;
    overflow: hidden;
    padding: 0.35rem 0.5rem;
    margin-right: 0 !important;
  }
}
@media only screen and (max-width: 349.98px) {
  .mobile-ui .contact-show form .recaptcha-container {
    margin: 0 -11px;
    justify-content: center;
    display: flex;
  }
  .video-show .card-video iframe {
    height: 210px;
  }
  .dropdown-menu {
    width: 310px;
  }
}

@media only screen and (max-width: 319.98px) {
  .home-top .home-search form {
    width: 260px !important;
  }
  .header.small-header .header-logo,
  .header.sticky-header .header-logo,
  .mobile-header-logo {
    width: 40px;
    overflow: hidden;
  }

  .home-top .home-search .form-control {
    width: 240px !important;
  }
  .header .top-buttons,
  .header.sticky-header .top-buttons,
  .header.full-header .top-buttons {
    padding: 18px 0;
    width: 100%;
    position: absolute;
    left: 0;
    min-width: 160px;
  }
  .rewayat-show .card-single iframe {
    height: 153px;
  }
  .content-header .breadcrumb {
    font-size: 12px;
  }
  .dropdown-menu {
    width: 260px;
  }
}
