.tadabor-index {
  .show-filters {
    .form-group {
      width: 240px;
      margin: 0;
    }

    .multiselect__tags {
      border-radius: 12px;
    }
  }
}
.tadabor-pagination {
  nav {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
}
.tadabor-item {
  padding: 0;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 2px 8px 0px #a2a2a230;
  margin-bottom: 0.75rem;
  border-radius: 10px;

  .databor-image {
    display: flex;
    background: #f8f4e8;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      max-width: 420px;
    }
  }

  .databor-text {
    padding: 1rem;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    font-family: Kitab, sans-serif;
  }
  .ssi-btns {
    display: flex;
    justify-content: center;

    .download-btn,
    .ply-btn {
      margin: 1rem;
      border: 3px solid #ffe2b3;
      border-radius: 18px;
      height: 44px;
      width: 150px;
      color: #fff;
      background: #f5b44b;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      .uni-icon {
        margin-left: 0.5rem;
        color: #fff;
        font-size: 26px;
      }
      div {
        justify-content: center;
        align-items: center;
        display: flex;
      }
      svg {
        width: 24px;
        fill: #fff;
      }
    }
    .download-btn {
      background: #64ad15;
      border: 3px solid #c9e6a9;
    }
    .ply-btn:hover {
      border: 3px solid #eca32b;
    }
    .download-btn:hover {
      border: 3px solid #4f8e0a;
    }
  }
  .databor-options {
    display: flex;
    justify-content: center;
    margin: 1rem auto;
    background: #f1f2f3;

    .option-btn {
      width: 50px;
      cursor: pointer;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }

  

    .ply-btn {
      border-radius: 100px;
      width: 32px;
      height: 32px;
      border: 2px solid #f5b44b;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      .v-scale {
        margin: 1px !important;
        background-color: #e69e29 !important;
      }

      .uni-icon {
        font-size: 24px;
        color: #e69e29;
      }
    }

    .show-share {
      display: flex;
      justify-content: center;

      svg {
        width: 32px;
        height: 44px;
      }
    }
    .show-share > span {
      width: 50px;
      height: 44px;
      cursor: pointer;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;

      .uni-icon {
        font-size: 24px;
      }
    }
    .show-share > span:last-child {
      border-left: none;
    }
  }
}

.tadabor-show {
}
